<div local-class="Index">

  <div local-class="Index-Header">
    <div>
      <h3 local-class="Index-Heading">
        {{t "routes.index.title"}}

        <a href="https://github.com/lolmaus/covisual#covisual">
          {{t "routes.index.what-is-this"}}
        </a>
      </h3>
    </div>

    <div local-class="Index-Header-Options">
      <div local-class="Index-Header-Option _metric">
        <span local-class="Index-Header-Option-Label">
          {{t "routes.index.options.metric"}}
        </span>

        <PowerSelect
          @options={{this.metrics}}
          @selected={{this.metric}}
          @onChange={{this.selectMetric}}
          as |metric|
        >
          <span
            local-class="Index-Metric"
            class={{if (eq metric "ratio-new-weekly-total") "-bold"}}
          >
            {{t (concat "routes.index.options.metrics." metric)}}
          </span>
        </PowerSelect>
      </div>{{! Header-Option _metric}}

      <div local-class="Index-Header-Option _subject">
        <span local-class="Index-Header-Option-Label">
          {{t "routes.index.options.subject"}}
        </span>

        <PowerSelect
          @options={{this.subjects}}
          @selected={{this.subject}}
          @onChange={{this.selectSubject}}
          as |subject|
        >
          {{t (concat "routes.index.options.subjects." subject)}}
        </PowerSelect>
      </div>{{! Header-Option _metric}}

      <label local-class="Index-Header-Option _log">
        <input
          type="checkbox"
          checked={{this.isLogarithmicEffective}}
          disabled={{this.isLogarithmicToggleDisabled}}
          {{on "change" this.selectLog}}
        >

        <span local-class="Index-Header-Option-Label">
          {{t "routes.index.options.is-logarithmic"}}
        </span>
      </label>{{! Header-Option _metric}}

      <div local-class="Index-Header-Option _countries">
        <button
          type="button"
          {{on "click" (fn this.toggleCountriesModal true)}}
        >
          {{t "routes.index.options.select-countries"}}
        </button>
      </div>{{! Header-Option _metric}}
    </div>{{! Header-Options }}
  </div>{{! Header }}

  <div local-class="Index-Content">
    <div local-class="Index-Content-Inner">
      <EmberChart
        local-class="Index-Chart"
        @type="line"
        @data={{this.chartData}}
        @options={{this.chartOptions}}
      />
    </div>
  </div>
</div>{{! Index }}

<BsModalSimple
  @open={{this.isCountriesModalVisible}}
  @title={{t "routes.index.countries-modal.title"}}
  @onHide={{fn this.toggleCountriesModal false}}
  local-class="Index-Modal"
>
  <div local-class="Index-Modal-Filter">
    <div>
      <label>
        {{t "routes.index.countries-modal.filter"}}

        <input
          value={{this.countriesModalFilter}}
          {{on "input" this.filterCountriesInModal}}
        >
      </label>

      <button
        type="button"
        {{on "click" this.filterCountriesInModalReset}}
      >
        ×
      </button>
    </div>
  </div>

  <div local-class="Index-Modal-Main">
    <div local-class="Index-Modal-Countries">
      {{#each this.countriesFilteredForModal as |country|}}
        <div local-class="Index-Modal-Country">
          <label local-class="Index-Modal-Country-Label">
            <input
              type="checkbox"
              checked={{contains country this.countriesSelected}}
              {{on "change" (fn this.toggleCountry country)}}
            >

            <span>
              {{country.countryLoc}}
            </span>
          </label>

          <button
            class="btn btn-link btn-text"
            type="button"
            {{on "click" (fn this.selectCountryOnly country)}}
          >
            {{t "routes.index.countries-modal.only"}}
          </button>
        </div>
      {{else}}
        {{t "routes.index.countries-modal.not-found"}}
      {{/each}}
    </div>

    <div local-class="Index-Modal-Presets">
      <div local-class="Index-Modal-Presets-Title">
        {{t "routes.index.countries-modal.presets"}}
      </div>

      <div local-class="Index-Modal-Presets-List">
        {{#each this.presets as |preset|}}
          <div>
            <button
              class="btn btn-link btn-text"
              type="button"
              {{on "click" (fn this.selectPreset preset)}}
            >
              {{t (concat "presets." preset)}}
            </button>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</BsModalSimple>

{{log this.model}}
{{log this.chartData}}
{{log this}}
